@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #323232;
    color: #e0e0e0;
    font-family: "Atkinson Hyperlegible", Arial, sans-serif;
    font-size: 1rem;
    margin: 1rem;
    padding: 0;
}

a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    color: #3700b3;
    text-decoration: underline;
}

header {
    background-color: #1f1f1f;
    padding: 1rem;
    border-bottom: 1px solid #333;
}

img {
    width: 20rem;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 0.01rem; 
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}
